<p>
	<strong>[name]John Smith[/name]</strong><br>
	[address]14 Elm St. Sometown, CA 55555[/address]
	<br/>
	[phone]555-555-5555 [/phone] 
	<br/>
	[email]john@somedomain.com[/email]
	<br/>
</p>
<p>
	[date]Date[/date]
	<br/>
	<br/>
	[recipientname]Name goes here[/recipientname]
	[title]Manager[/title]
	<br/>
	[recipientaddress]ABC Company
	1 Corporate Way
	Sometown, CA 55555[/recipientaddress]
	<br/>
</p>
<p>
	Dear [salutation]Ms.[/salutation] [recipientname]Lin[/recipientname]:
</p>
<p>
	Thank you for meeting with me this [timeofday]morning[/timeofday] to discuss the [position]executive assistant[/position] position. I enjoyed our conversation, and I am very excited about the possibility of joining your team.
</p>
<p>
	I know what it takes to run a busy and successful insurance office. In my last position as an [formerposition]administrative assistant[/formerposition] for [company]XYZ Company[/company],[experience]I helped manage all aspects of the operation, handling tasks such as bookkeeping, customer service, claims processing, report preparation and ongoing communications with the district manager.[/experience]
</p>
<p>
	You mentioned that you need an [position]assistant[/[position] who has strong [skill]“people”[skill] skills, and this is an area in which I excel. At [company]XYZ Company[/company], [accomplishment]I helped the manager build a loyal client base by consistently providing excellent service.[/accomplishment].
</p>
<p>
	<br>
	Again, thank you for considering me for this exciting opportunity. As you requested, I’m enclosing a list of professional references. Please feel free to call me if you need additional information, have any questions or would like to offer me the job! Thank you for your time, and I look forward to hearing from you.
</p>
<p>
	Sincerely,
</p>
<p>
	[name]John Smith[/name]
</p>
<p>
	Enclosure: List of References
</p>