
        <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
			<li><a href="/editor">Send Mail</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/email_templates">Templates</a></li>
			<li><a href="/categories">Categories</a></li>
			<li><a href="/fields">Fields</a></li>
			<li><a href="#">About</a></li>
            <li><a href="#">Contact </a></li>
          </ul>
          <h3 class="muted">Formtastic</h3>
        </div>